#post{
    background-color: whitesmoke;
    width: 80%;
    margin: 5% 10%;
    padding: 5%;
    border-radius: 20px;
}
#title, #date{
    text-align: center;
}
#navigation{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 10%;
    justify-content: space-between;
}