#posts{
    width: 100%;
    margin: 0 auto;
}
#posts-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#posts h4{
    text-align: center;
}
hr{
    height:2px;border-width:0;color:gray;background-color:gray
}
hr:first-child{
    display: none;
}
.post-link{
    margin: 30px auto;
    width: 100%;
    min-width: 275px;
    max-width: 45%;
    text-align: center;
    color: rgb(61, 61, 61);
    background-color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 50px;
    box-shadow: 1px 1px 20px #aaaaaa;
}
.post-image{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 50px 50px 0 0;
    border-bottom: 5px solid whitesmoke;
    height: 350px;
    max-height: 350px;
}
.post-image img{
    transform: scale(1.4);
}
.post-image img:hover{
    transition-property: transform;
    transform: scale(1.5);
}
.info{
    background-color: white;
    color: black;
    width: 100%;
    vertical-align: bottom;
    border-radius: 0 0 50px 50px;
    padding: 20px 0;
}
footer{
    text-align: center;
}