#posts{
    width: 100%;
    margin: 0 auto;
}
#posts h4{
    text-align: center;
}

.post{
    padding: 20px 20px 40px 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    color: rgb(61, 61, 61);
}
.post:hover{
    background-color: rgb(249, 249, 249);
}
.post-link{
    text-decoration: none;
}
.post-title{
    text-decoration: none;
    color: black;
}
.post-tag{
    margin: 10px 0;
}