#posts{
    width: 90%;
    margin: 0 auto;
}
#posts h4{
    text-align: center;
}

.post{
    padding: 10px 20px 20px 20px;
    margin: 20px auto;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    color: rgb(61, 61, 61);
}
.post:hover{
    background-color: rgb(249, 249, 249);
}
.post-link{
    text-decoration: none;
}
.post-title{
    text-decoration: none;
    color: white;
    padding: 10px 0;
    margin: 5px 0 10px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(61, 61, 61);
}
.post-tag{
    margin: 10px 0;
}