#posts{
    width: 100%;
    margin: 0 auto;
}
#posts-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#posts h4{
    text-align: center;
}
hr{
    height:2px;border-width:0;color:gray;background-color:gray
}
hr:first-child{
    display: none;
}
.post-link{
    margin: 30px auto;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    color: rgb(61, 61, 61);
    background-color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 50px;
    box-shadow: 5px 5px 3px #aaaaaa;
}
.post-image{
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
    border-radius: 50px 50px 0 0;
}
.post-image img{
    transform: scale(1.4);
    box-shadow: rgb(61, 61, 61);
}
.post-image img:hover{
    transition-property: transform;
    transform: scale(1.5);
}
.info{
    background-color: white;
    color: black;
    width: 100%;
    vertical-align: bottom;
    border-radius: 0 0 50px 50px;
    padding: 20px 0;
}
footer{
    text-align: center;
}
/* .post-date{
    min-width: 175px;
    margin: 15px auto;
    width: 40%;
    color: white;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
}
.post-title{
    text-decoration: none;
    color: white;
    padding: 15px 0;
    margin: 5px auto 15px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
}
.post-tag{
    background-color: #E6E6FA;
    margin: 10px auto;
    padding: 5px 0;
    width: 70%;
    border-radius: 10px;
}
.post-image{
    background-color: red;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
} */