@font-face {
    font-family: Lato;
    src: url(Lato-Light.ttf);
    font-display: swap;
  }
@font-face {
  font-family: LatoB;
  src: url(Lato-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: LatoR;
  src: url(Lato-Regular.ttf);
  font-display: swap;
}
header{
  background-color: white;
  border-bottom: 5px solid whitesmoke;
}  
#head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    max-width: 1100px;
}
#head-title-block{
  height: 40px;
  display: flex;
  flex-direction: row;
}
#head-title, #head-topics{
  font-family: 'Lato';
  font-weight: bold;
  color: black;
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  #head-title{
    display: none;
  }
} 
