/* body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #07051a;
} */
#search{
    width: 55%;
}
#search-bar{
    width: 100%;
    margin: 3px auto;
}
#search input{
    width: 70%;
    outline: 0;
    border: 0;
    font-size: 1rem;
    line-height: 30px;
    border-radius: 20px;
    margin: 0 0;
    background-color: whitesmoke;
}
#search input[type="text"]{
    padding: 0 10px;
    font-size: .9em;
}
#search input[type="text"]::placeholder{
    font-family: 'Lato';
}
#search input:focus{
    background-color: white;
    border: none;
    box-shadow: 0 0 3pt 2pt whitesmoke;
}
.fa{
    position: relative;
    top: 5px;
    right: 0;
    font-size: 1.3em;
    padding: 3px;
    transition: all 1s;
}
.fa-search{
    background-color: transparent;
    color: black;
}
.fa-times{
    background-color: red;
    color: white;
    border-radius: 50%;
}
#search ul{
    position: absolute;
}