/* body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #07051a;
} */
#search{
    width: 45%;
}
#search-bar{
    width: 100%;
    margin: 3px auto;
}
#search input{
    width: 70%;
    background-color: red;
    height: 35px;
    line-height: 20px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 15px;
    margin: 0 0;
    background-color: whitesmoke;
}
#search input:focus{
    background-color: white;
    border: 3px solid whitesmoke;
}
.fa{
    position: relative;
    top: 5px;
    right: 0;
    font-size: 1.5em;
    padding: 3px;
    transition: all 1s;
}
.fa-search{
    background-color: transparent;
    color: black;
}
.fa-times{
    background-color: red;
    color: white;
    border-radius: 50%;
}
#search ul{
    position: absolute;
}