
#search{
    width: 40%;
    outline: none;
    height: 40px;
    top: 5px;
    position: relative;
    margin: 0 auto;
  }
  #search input{
    height: 30px;
    width: 100%;
    transition-property: width;
    transition-duration: 1s;
  }
  #search ul{
      width: 100%;
      position: absolute;
      left: -23px;
  }
  #search ul li{
    padding: 10px 10px;
    list-style: none;
    background-color: rgb(251, 251, 251);
    border-left: 1px solid rgba(179, 179, 179, 0.459);
    border-bottom: 1px solid rgba(179, 179, 179, 0.459);
    border-right: 1px solid rgba(179, 179, 179, 0.459);
  }
  #search ul hr{
      margin-top: 5px;
      height: 1px;
      background-color: #ccc;
      border: none;
  }